<header>
  <div class="container">
    <div class="row">
      <h1>Atomswift Ultimate</h1>
    </div>
    <nav class="row">
      <a class="button two columns" href="#" routerLink="/blog" routerLinkActive="button-primary">Blog</a>
      <a class="button two columns" href="#" routerLink="/team" routerLinkActive="button-primary">Team</a>
      <a class="button two columns" href="#" routerLink="/events" routerLinkActive="button-primary">Events</a>
      <a class="button two columns" href="#" routerLink="/achievments" routerLinkActive="button-primary">Achievments</a>
      <a class="button two columns" href="#" routerLink="/ultimate" routerLinkActive="button-primary">Ultimate</a>
      <a class="button two columns" href="#" routerLink="/media" routerLinkActive="button-primary">Media</a>
    </nav>
  </div>
</header>
